.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 70px;
  background-color: white;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  background-color: white;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(239, 238, 238);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}